@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar .nav {
  width: 100%;
  height: auto;
  padding: 2.4vw 3.4vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.navbar .nav-logo {
  display: grid;
  place-items: center;
  gap: 0.3vw;
  text-decoration: none;
}
.navbar .nav-logo img {
  width: 6vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .nav-logo span {
  font-family: "Grandstander", cursive;
  font-size: 2.15vw;
  font-weight: 200;
  color: #595959;
  text-transform: uppercase;
}
.navbar .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}
.navbar .nav-main .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10vw;
  border: 0.15vw solid #34a0a4;
  padding: 0.3vw;
}
.navbar .nav-main .search button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50%;
  background-color: #34a0a4;
  color: #fff;
  font-size: 1.1vw;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  padding: 0.7vw;
  cursor: pointer;
}
.navbar .nav-main .search button:hover {
  background-color: #0b787c;
}
.navbar .nav-main .search input {
  width: 34vw;
  padding: 0 0.5vw;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
  font-size: 1.1vw;
  color: #595959;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  background-color: transparent;
}
.navbar .nav-main .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.05vw;
}
.navbar .nav-main .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #595959;
  text-decoration: none;
  line-height: 100%;
  transition: all 0.4s ease-out;
}
.navbar .nav-main .links a:hover {
  color: #0b787c;
}
.navbar .nav-main .links a.active {
  color: #fff;
  background-color: #34a0a4;
  padding: 0.4vw 0.9vw;
  border-radius: 10vw;
}
.navbar .nav-others {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.9vw;
}
.navbar .nav-others i {
  font-size: 1.7vw;
  color: #34a0a4;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .navbar .nav {
    padding: 3.8vw 4.4vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  .navbar .nav-logo {
    gap: 0.8vw;
  }
  .navbar .nav-logo img {
    width: 8vw;
  }
  .navbar .nav-logo span {
    font-size: 3.3vw;
  }
  .navbar .nav-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4vw;
  }
  .navbar .nav-main .search button {
    font-size: 1.9vw;
    padding: 1.2vw;
  }
  .navbar .nav-main .search input {
    width: 40vw;
    padding: 0 0.7vw;
    font-size: 1.7vw;
  }
  .navbar .nav-main .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.05vw;
  }
  .navbar .nav-main .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #595959;
    text-decoration: none;
    line-height: 100%;
    transition: all 0.4s ease-out;
    font-size: 1.8vw;
  }
  .navbar .nav-main .links a:hover {
    color: #0b787c;
  }
  .navbar .nav-main .links a.active {
    color: #fff;
    background-color: #34a0a4;
    padding: 0.8vw 1.6vw;
  }
  .navbar .nav-others {
    gap: 1.6vw;
  }
  .navbar .nav-others i {
    font-size: 2.9vw;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #595959;
  border-top: 0.1vw solid rgba(0, 0, 0, 0.1);
  padding: 2.4vw 3.4vw;
}
.footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.6vw;
}
.footer .social-media a {
  text-decoration: none;
  color: #34a0a4;
}
.footer .social-media a i {
  font-size: 1.5vw;
}
.footer .social-media a:hover {
  color: #0b787c;
  transition: 0.5s;
}

@media (max-width: 575.98px) {
  .footer {
    padding: 3.8vw 4.4vw;
  }
  .footer p {
    font-size: 2.9vw;
  }
  .footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2.1vw;
  }
  .footer .social-media a {
    text-decoration: none;
    color: #34a0a4;
  }
  .footer .social-media a i {
    font-size: 3vw;
  }
  .footer .social-media a:hover {
    color: #0b787c;
    transition: 0.5s;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  font-family: "Lato", sans-serif;
  background-color: #f8f4f0;
  color: #595959;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}